openapi: 3.0.3
info:
  title: API - Fédération de Collectivités Agricoles
  description: |
    API REST pour la gestion de la fédération nationale de collectivités agricoles de Madagascar.

    Elle couvre les fonctionnalités suivantes :
    - **A** : Ouverture d'une nouvelle collectivité
    - **B** : Admission et gestion des membres (mise à jour du 21 avril 2026)
    - **C** : Cotisations et paiements
    - **D** : Situation de trésorerie
    - **E** : Activités des collectivités et de la fédération
    - **F** : Assiduité des membres
    - **G** : Statistiques des collectivités
    - **H** : Statistiques de la fédération (ajout du 21 avril 2026)
  version: 2.0.0
  contact:
    name: Fédération Agricole Madagascar

servers:
  - url: https://api.federation-agricole.mg/v1
    description: Serveur de production

tags:
  - name: Collectivités
    description: Gestion des collectivités agricoles (Fonctionnalité A)
  - name: Membres
    description: Admission et gestion des membres (Fonctionnalité B)
  - name: Cotisations
    description: Cotisations et paiements (Fonctionnalité C)
  - name: Trésorerie
    description: Comptes et situation financière (Fonctionnalité D)
  - name: Activités
    description: Activités des collectivités et de la fédération (Fonctionnalité E)
  - name: Assiduité
    description: Présences aux activités (Fonctionnalité F)
  - name: Statistiques
    description: Rapports et statistiques des collectivités (Fonctionnalité G)
  - name: Statistiques Fédération
    description: Rapports et statistiques globaux de la fédération (Fonctionnalité H)

# ─────────────────────────────────────────────
# PATHS
# ─────────────────────────────────────────────
paths:

  # ══════════════════════════════════════════
  # A - COLLECTIVITÉS
  # ══════════════════════════════════════════

  /collectivites:
    get:
      tags: [Collectivités]
      summary: Lister toutes les collectivités
      operationId: getCollectivites
      parameters:
        - name: ville
          in: query
          schema:
            type: string
          description: Filtrer par ville
        - name: specialite
          in: query
          schema:
            type: string
          description: Filtrer par spécialité agricole
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Liste des collectivités
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectiviteListResponse'

    post:
      tags: [Collectivités]
      summary: Demander l'ouverture d'une nouvelle collectivité
      description: |
        Soumet une demande d'ouverture d'une nouvelle collectivité à la fédération.

        Conditions requises :
        - Avoir au moins 10 membres inscrits, dont au moins 5 ayant une ancienneté ≥ 6 mois
          au sein de la fédération.
        - Avoir les postes spécifiques (président, président adjoint, trésorier, secrétaire)
          pourvus par des membres, pouvant être inclus dans les 10 effectifs minimum.
        - Déterminer la localité (ville) ainsi que la spécialité agricole.
        - L'autorisation formelle de la fédération sera délivrée après validation via
          POST /collectivites/{collectiviteId}/autorisation.
      operationId: creerCollectivite
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectiviteCreationRequest'
      responses:
        '201':
          description: Demande d'ouverture soumise avec succès
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectiviteResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /collectivites/{collectiviteId}:
    get:
      tags: [Collectivités]
      summary: Obtenir les détails d'une collectivité
      operationId: getCollectiviteById
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
      responses:
        '200':
          description: Détails de la collectivité
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectiviteResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Collectivités]
      summary: Modifier les informations d'une collectivité
      operationId: updateCollectivite
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectiviteUpdateRequest'
      responses:
        '200':
          description: Collectivité mise à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectiviteResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /collectivites/{collectiviteId}/autorisation:
    post:
      tags: [Collectivités]
      summary: Délivrer l'autorisation d'ouverture (fédération seulement)
      description: Permet à la fédération d'accorder ou de refuser formellement l'ouverture d'une collectivité.
      operationId: autoriserCollectivite
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [autorise, commentaire]
              properties:
                autorise:
                  type: boolean
                  description: true = autorisation accordée, false = refus
                commentaire:
                  type: string
                  description: Commentaire ou motif de la décision
      responses:
        '200':
          description: Décision enregistrée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectiviteResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ══════════════════════════════════════════
  # B - MEMBRES
  # ══════════════════════════════════════════

  /membres:
    get:
      tags: [Membres]
      summary: Lister tous les membres de la fédération
      operationId: getMembres
      parameters:
        - name: collectiviteId
          in: query
          schema:
            type: string
            format: uuid
          description: Filtrer par collectivité
        - name: poste
          in: query
          schema:
            $ref: '#/components/schemas/Poste'
        - name: actif
          in: query
          schema:
            type: boolean
          description: Filtrer les membres actifs (non démissionnaires)
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Liste des membres
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembreListResponse'

    post:
      tags: [Membres]
      summary: Inscrire un nouveau membre dans la fédération
      description: |
        Permet d'inscrire un nouveau membre dans une collectivité de la fédération.

        Conditions d'admission (mises à jour du 21 avril 2026) :
        - Être parrainé par **au moins deux (2) membres confirmés** de la fédération.
        - Le nombre de parrains issus de la collectivité cible doit être **supérieur ou égal**
          au nombre de parrains issus d'autres collectivités.
          Exemples :
            ✔ 2 parrains de la collectivité cible → accepté
            ✔ 1 parrain de la collectivité cible + 1 d'une autre → accepté
            ✔ 3 parrains de la cible + 2 d'autres collectivités → accepté
            ✗ 0 parrain de la cible + 2 d'autres collectivités → refusé
        - Fournir ses informations personnelles, incluant la **nature de la relation**
          avec chaque parrain (famille, amis, collègues, etc.).
        - Régler un frais d'adhésion de **50 000 MGA** (par mobile money ou virement bancaire).
        - Régler **l'intégralité des cotisations annuelles obligatoires** imposées par la
          collectivité cible (montant variable selon la collectivité).
      operationId: inscrireMembre
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MembreInscriptionRequest'
      responses:
        '201':
          description: Membre inscrit avec succès
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembreResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /membres/{membreId}:
    get:
      tags: [Membres]
      summary: Obtenir les détails d'un membre
      operationId: getMembreById
      parameters:
        - $ref: '#/components/parameters/membreId'
      responses:
        '200':
          description: Détails du membre
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembreResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Membres]
      summary: Mettre à jour les informations personnelles d'un membre
      operationId: updateMembre
      parameters:
        - $ref: '#/components/parameters/membreId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MembreUpdateRequest'
      responses:
        '200':
          description: Membre mis à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembreResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /membres/{membreId}/collectivite:
    put:
      tags: [Membres]
      summary: Changer de collectivité
      description: |
        Permet à un membre de rejoindre une autre collectivité (ex. changement de ville).
        Le changement est enregistré avec un motif obligatoire.
      operationId: changerCollectivite
      parameters:
        - $ref: '#/components/parameters/membreId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [collectiviteId, motif]
              properties:
                collectiviteId:
                  type: string
                  format: uuid
                  description: Identifiant de la nouvelle collectivité cible
                motif:
                  type: string
                  description: Motif du changement (ex. déménagement)
      responses:
        '200':
          description: Changement de collectivité enregistré
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembreResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /membres/{membreId}/demission:
    post:
      tags: [Membres]
      summary: Enregistrer la démission d'un membre
      description: Enregistre la démission volontaire d'un membre. Le membre est alors marqué inactif.
      operationId: demissionMembre
      parameters:
        - $ref: '#/components/parameters/membreId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [dateDemission, motif]
              properties:
                dateDemission:
                  type: string
                  format: date
                motif:
                  type: string
      responses:
        '200':
          description: Démission enregistrée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembreResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /collectivites/{collectiviteId}/mandats:
    get:
      tags: [Membres]
      summary: Lister les mandats d'une collectivité
      operationId: getMandats
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
        - name: annee
          in: query
          schema:
            type: integer
          description: Filtrer par année civile
      responses:
        '200':
          description: Liste des mandats
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MandatListResponse'

    post:
      tags: [Membres]
      summary: Créer un nouveau mandat pour une collectivité
      description: |
        Enregistre les résultats du vote pour le nouveau mandat annuel.

        Règles :
        - Un mandat dure une année civile.
        - Chaque membre ne peut occuper un même poste spécifique plus de 2 fois au total
          (même non consécutifs).
        - Les postes président, président adjoint, trésorier et secrétaire ne peuvent
          être occupés que par un seul membre par mandat.
      operationId: creerMandat
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MandatCreationRequest'
      responses:
        '201':
          description: Mandat créé avec succès
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MandatResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  # ══════════════════════════════════════════
  # C - COTISATIONS
  # ══════════════════════════════════════════

  /collectivites/{collectiviteId}/cotisations:
    get:
      tags: [Cotisations]
      summary: Lister les cotisations d'une collectivité
      operationId: getCotisations
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
        - name: membreId
          in: query
          schema:
            type: string
            format: uuid
          description: Filtrer par membre
        - name: type
          in: query
          schema:
            $ref: '#/components/schemas/TypeCotisation'
        - name: dateDebut
          in: query
          schema:
            type: string
            format: date
        - name: dateFin
          in: query
          schema:
            type: string
            format: date
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Liste des cotisations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CotisationListResponse'

    post:
      tags: [Cotisations]
      summary: Enregistrer un encaissement (cotisation)
      description: |
        Le trésorier enregistre un paiement de cotisation d'un membre.

        - Les cotisations peuvent être périodiques (MENSUELLE, ANNUELLE) ou PONCTUELLE.
        - Pour les cotisations PONCTUELLES, le motif est obligatoire.
        - Un pourcentage des cotisations périodiques est automatiquement reversé à la fédération
          selon le taux en vigueur (cf. GET /federation/taux-reversement).
        - Le mode de paiement accepté est : espèce, virement bancaire ou mobile money.
      operationId: enregistrerCotisation
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CotisationCreationRequest'
      responses:
        '201':
          description: Cotisation enregistrée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CotisationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /collectivites/{collectiviteId}/cotisations/{cotisationId}:
    get:
      tags: [Cotisations]
      summary: Obtenir les détails d'une cotisation
      operationId: getCotisationById
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
        - $ref: '#/components/parameters/cotisationId'
      responses:
        '200':
          description: Détails de la cotisation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CotisationResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /federation/cotisations:
    get:
      tags: [Cotisations]
      summary: Lister les reversements reçus par la fédération
      operationId: getCotisationsFederation
      parameters:
        - name: dateDebut
          in: query
          schema:
            type: string
            format: date
        - name: dateFin
          in: query
          schema:
            type: string
            format: date
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Liste des reversements reçus par la fédération
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CotisationListResponse'

  /federation/taux-reversement:
    get:
      tags: [Cotisations]
      summary: Obtenir le taux de reversement actuel à la fédération
      operationId: getTauxReversement
      responses:
        '200':
          description: Taux de reversement en vigueur
          content:
            application/json:
              schema:
                type: object
                properties:
                  taux:
                    type: number
                    format: float
                    example: 0.10
                    description: Taux de reversement (ex. 0.10 = 10%)
                  dateEffet:
                    type: string
                    format: date
                    description: Date d'entrée en vigueur du taux

    put:
      tags: [Cotisations]
      summary: Modifier le taux de reversement à la fédération
      description: |
        Permet à la fédération de définir le pourcentage des cotisations périodiques
        reversé par les collectivités. Accessible uniquement aux responsables de la fédération.
      operationId: setTauxReversement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [taux, dateEffet]
              properties:
                taux:
                  type: number
                  format: float
                  minimum: 0
                  maximum: 1
                  description: Nouveau taux (ex. 0.10 = 10%)
                dateEffet:
                  type: string
                  format: date
                  description: Date d'entrée en vigueur
      responses:
        '200':
          description: Taux mis à jour
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'

  # ══════════════════════════════════════════
  # D - TRÉSORERIE
  # ══════════════════════════════════════════

  /collectivites/{collectiviteId}/comptes:
    get:
      tags: [Trésorerie]
      summary: Lister les comptes d'une collectivité
      operationId: getComptes
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
        - name: type
          in: query
          schema:
            $ref: '#/components/schemas/TypeCompte'
      responses:
        '200':
          description: Liste des comptes de la collectivité
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompteListResponse'

    post:
      tags: [Trésorerie]
      summary: Créer un nouveau compte pour une collectivité
      description: |
        Crée un compte bancaire, mobile money ou caisse pour une collectivité.

        Contraintes :
        - Une seule caisse (CAISSE) par collectivité — retourne 422 si une caisse existe déjà.
        - Plusieurs comptes bancaires (BANCAIRE) ou mobile money (MOBILE_MONEY) autorisés.
        - Le numéro de compte bancaire doit respecter le format RIB à 23 chiffres :
          BBBBBGGGGGCCCCCCCCCCCKKK
      operationId: creerCompte
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompteCreationRequest'
      responses:
        '201':
          description: Compte créé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompteResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /collectivites/{collectiviteId}/comptes/{compteId}:
    get:
      tags: [Trésorerie]
      summary: Obtenir les détails d'un compte
      operationId: getCompteById
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
        - $ref: '#/components/parameters/compteId'
      responses:
        '200':
          description: Détails du compte
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompteResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Trésorerie]
      summary: Mettre à jour le solde d'un compte
      description: Permet au trésorier de mettre à jour le solde constaté à une date donnée.
      operationId: updateSoldeCompte
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
        - $ref: '#/components/parameters/compteId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [solde, dateReleve]
              properties:
                solde:
                  type: number
                  format: double
                  description: Nouveau solde en MGA
                dateReleve:
                  type: string
                  format: date
                  description: Date du relevé de solde
      responses:
        '200':
          description: Solde mis à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompteResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Trésorerie]
      summary: Supprimer un compte
      operationId: deleteCompte
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
        - $ref: '#/components/parameters/compteId'
      responses:
        '204':
          description: Compte supprimé
        '404':
          $ref: '#/components/responses/NotFound'

  /federation/comptes:
    get:
      tags: [Trésorerie]
      summary: Lister les comptes de la fédération
      operationId: getComptesFederation
      parameters:
        - name: type
          in: query
          schema:
            $ref: '#/components/schemas/TypeCompte'
      responses:
        '200':
          description: Liste des comptes de la fédération
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompteListResponse'

    post:
      tags: [Trésorerie]
      summary: Créer un compte pour la fédération
      description: |
        Même contraintes que pour une collectivité :
        - Une seule caisse possible pour la fédération.
        - Plusieurs comptes bancaires ou mobile money autorisés.
      operationId: creerCompteFederation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompteCreationRequest'
      responses:
        '201':
          description: Compte créé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompteResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /federation/comptes/{compteId}:
    get:
      tags: [Trésorerie]
      summary: Détails d'un compte de la fédération
      operationId: getCompteFederationById
      parameters:
        - $ref: '#/components/parameters/compteId'
      responses:
        '200':
          description: Détails du compte
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompteResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Trésorerie]
      summary: Mettre à jour le solde d'un compte de la fédération
      operationId: updateSoldeCompteFederation
      parameters:
        - $ref: '#/components/parameters/compteId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [solde, dateReleve]
              properties:
                solde:
                  type: number
                  format: double
                dateReleve:
                  type: string
                  format: date
      responses:
        '200':
          description: Solde mis à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompteResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Trésorerie]
      summary: Supprimer un compte de la fédération
      operationId: deleteCompteFederation
      parameters:
        - $ref: '#/components/parameters/compteId'
      responses:
        '204':
          description: Compte supprimé
        '404':
          $ref: '#/components/responses/NotFound'

  # ══════════════════════════════════════════
  # E - ACTIVITÉS
  # ══════════════════════════════════════════

  /collectivites/{collectiviteId}/activites:
    get:
      tags: [Activités]
      summary: Lister les activités d'une collectivité
      operationId: getActivites
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
        - name: type
          in: query
          schema:
            $ref: '#/components/schemas/TypeActivite'
        - name: dateDebut
          in: query
          schema:
            type: string
            format: date
        - name: dateFin
          in: query
          schema:
            type: string
            format: date
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Liste des activités
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiviteListResponse'

    post:
      tags: [Activités]
      summary: Planifier une activité pour une collectivité
      description: |
        Planifie une activité pour la collectivité.

        Types possibles :
        - `ASSEMBLEE_GENERALE` : présence obligatoire pour tous les membres de la collectivité.
          La date est fixée annuellement sur un même jour récurrent (ex. 2ème dimanche du mois).
        - `FORMATION_JUNIOR` : présence obligatoire uniquement pour les membres juniors.
          La date est fixée annuellement sur un même jour récurrent (ex. 4ème samedi du mois).
        - `EXCEPTIONNELLE` : la collectivité définit si la présence est obligatoire pour tous
          ou seulement pour certains membres via le champ membresObligatoires.
      operationId: planifierActivite
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActiviteCreationRequest'
      responses:
        '201':
          description: Activité planifiée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiviteResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /collectivites/{collectiviteId}/activites/{activiteId}:
    get:
      tags: [Activités]
      summary: Obtenir les détails d'une activité
      operationId: getActiviteById
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
        - $ref: '#/components/parameters/activiteId'
      responses:
        '200':
          description: Détails de l'activité
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiviteResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Activités]
      summary: Modifier une activité
      operationId: updateActivite
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
        - $ref: '#/components/parameters/activiteId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActiviteUpdateRequest'
      responses:
        '200':
          description: Activité mise à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiviteResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Activités]
      summary: Annuler une activité
      operationId: deleteActivite
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
        - $ref: '#/components/parameters/activiteId'
      responses:
        '204':
          description: Activité annulée
        '404':
          $ref: '#/components/responses/NotFound'

  /federation/activites:
    get:
      tags: [Activités]
      summary: Lister les activités planifiées par la fédération
      operationId: getActivitesFederation
      parameters:
        - name: dateDebut
          in: query
          schema:
            type: string
            format: date
        - name: dateFin
          in: query
          schema:
            type: string
            format: date
        - name: obligatoire
          in: query
          schema:
            type: boolean
          description: Filtrer les activités obligatoires
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Liste des activités de la fédération
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiviteListResponse'

    post:
      tags: [Activités]
      summary: Planifier une activité nationale (fédération)
      description: |
        La fédération planifie une activité à laquelle les collectivités sont invitées.
        Peut être obligatoire ou non. Si collectivitesInvitees est vide, toutes les
        collectivités sont concernées.
      operationId: planifierActiviteFederation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActiviteFederationCreationRequest'
      responses:
        '201':
          description: Activité planifiée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiviteResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'

  /federation/activites/{activiteId}:
    get:
      tags: [Activités]
      summary: Détails d'une activité de la fédération
      operationId: getActiviteFederationById
      parameters:
        - $ref: '#/components/parameters/activiteId'
      responses:
        '200':
          description: Détails de l'activité
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiviteResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Activités]
      summary: Modifier une activité de la fédération
      operationId: updateActiviteFederation
      parameters:
        - $ref: '#/components/parameters/activiteId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActiviteUpdateRequest'
      responses:
        '200':
          description: Activité mise à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiviteResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Activités]
      summary: Annuler une activité de la fédération
      operationId: deleteActiviteFederation
      parameters:
        - $ref: '#/components/parameters/activiteId'
      responses:
        '204':
          description: Activité annulée
        '404':
          $ref: '#/components/responses/NotFound'

  # ══════════════════════════════════════════
  # F - ASSIDUITÉ
  # ══════════════════════════════════════════

  /collectivites/{collectiviteId}/activites/{activiteId}/presences:
    get:
      tags: [Assiduité]
      summary: Consulter la fiche de présence d'une activité
      operationId: getPresences
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
        - $ref: '#/components/parameters/activiteId'
      responses:
        '200':
          description: Fiche de présence de l'activité
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresenceListResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      tags: [Assiduité]
      summary: Enregistrer la présence d'un membre à une activité
      description: |
        Le secrétaire enregistre la présence ou l'absence d'un membre à une activité.

        - Un membre peut être excusé (EXCUSE) si son absence a été notifiée au préalable
          avec un motif.
        - Un membre d'une autre collectivité peut être inscrit en fiche de présence
          (estMembreExterne = true), mais sa présence ne compte pas dans son taux
          d'assiduité annuel.
      operationId: enregistrerPresence
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
        - $ref: '#/components/parameters/activiteId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresenceCreationRequest'
      responses:
        '201':
          description: Présence enregistrée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresenceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /collectivites/{collectiviteId}/activites/{activiteId}/presences/{membreId}:
    patch:
      tags: [Assiduité]
      summary: Modifier le statut de présence d'un membre
      description: Permet de mettre à jour le statut d'un membre (ex. passer de ABSENT à EXCUSE avec motif).
      operationId: updatePresence
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
        - $ref: '#/components/parameters/activiteId'
        - $ref: '#/components/parameters/membreId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresenceUpdateRequest'
      responses:
        '200':
          description: Présence mise à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresenceResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /federation/activites/{activiteId}/presences:
    get:
      tags: [Assiduité]
      summary: Consulter la fiche de présence d'une activité de la fédération
      operationId: getPresencesFederation
      parameters:
        - $ref: '#/components/parameters/activiteId'
      responses:
        '200':
          description: Fiche de présence de l'activité fédération
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresenceListResponse'

    post:
      tags: [Assiduité]
      summary: Enregistrer la présence à une activité de la fédération
      operationId: enregistrerPresenceFederation
      parameters:
        - $ref: '#/components/parameters/activiteId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresenceCreationRequest'
      responses:
        '201':
          description: Présence enregistrée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresenceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  # ══════════════════════════════════════════
  # G - STATISTIQUES COLLECTIVITÉ
  # ══════════════════════════════════════════

  /collectivites/{collectiviteId}/statistiques/rapport-mensuel:
    get:
      tags: [Statistiques]
      summary: Rapport mensuel à soumettre à la fédération
      description: |
        Retourne le taux d'assiduité global de la collectivité ainsi que le nombre de membres
        inscrits pour un mois donné. Ce rapport est transmis mensuellement à la fédération
        par le président de la collectivité.
      operationId: getRapportMensuel
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
        - name: annee
          in: query
          required: true
          schema:
            type: integer
            example: 2026
        - name: mois
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 12
            example: 4
      responses:
        '200':
          description: Rapport mensuel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RapportMensuelCollectiviteResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /collectivites/{collectiviteId}/statistiques/membres:
    get:
      tags: [Statistiques]
      summary: Statistiques détaillées par membre actif
      description: |
        Retourne pour chaque membre actif (non démissionnaire) sur une période donnée :
        - Taux d'assiduité
        - Montant total des cotisations encaissées
        - Montant potentiellement impayé (cotisations dues non réglées)
      operationId: getStatsMembres
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
        - name: dateDebut
          in: query
          required: true
          schema:
            type: string
            format: date
          description: Début de la période d'analyse
        - name: dateFin
          in: query
          required: true
          schema:
            type: string
            format: date
          description: Fin de la période d'analyse
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Statistiques détaillées des membres
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsMembresResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /collectivites/{collectiviteId}/statistiques/membres/{membreId}:
    get:
      tags: [Statistiques]
      summary: Statistiques individuelles d'un membre actif
      operationId: getStatsMembre
      parameters:
        - $ref: '#/components/parameters/collectiviteId'
        - $ref: '#/components/parameters/membreId'
        - name: dateDebut
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: dateFin
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Statistiques du membre
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsMembreResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  # ══════════════════════════════════════════
  # H - STATISTIQUES FÉDÉRATION (21 avril 2026)
  # ══════════════════════════════════════════

  /federation/statistiques/rapport-mensuel:
    get:
      tags: [Statistiques Fédération]
      summary: Rapport mensuel global de toutes les collectivités
      description: |
        Le secrétaire de la fédération recense mensuellement les données issues de toutes
        les collectivités pour établir un rapport global.

        Pour chaque collectivité, retourne :
        - Le taux d'assiduité global sur la période
        - Le pourcentage de membres à jour dans leurs cotisations
        - Le nombre de nouveaux adhérents sur la période

        Ce rapport est présenté lors des assemblées générales annuelles.
      operationId: getRapportMensuelFederation
      parameters:
        - name: annee
          in: query
          required: true
          schema:
            type: integer
            example: 2026
        - name: mois
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 12
            example: 4
      responses:
        '200':
          description: Rapport mensuel global
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RapportMensuelFederationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /federation/statistiques/rapport-annuel:
    get:
      tags: [Statistiques Fédération]
      summary: Rapport annuel global de toutes les collectivités
      description: |
        Agrège les données de toutes les collectivités sur l'ensemble d'une année civile.

        Pour chaque collectivité, retourne :
        - Le taux d'assiduité global annuel
        - Le pourcentage de membres à jour dans leurs cotisations sur l'année
        - Le nombre total de nouveaux adhérents sur l'année

        Utilisé notamment lors des assemblées générales annuelles pour féliciter les
        collectivités les plus méritantes et identifier celles nécessitant un accompagnement.
      operationId: getRapportAnnuelFederation
      parameters:
        - name: annee
          in: query
          required: true
          schema:
            type: integer
            example: 2026
      responses:
        '200':
          description: Rapport annuel global
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RapportAnnuelFederationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

# ─────────────────────────────────────────────
# COMPONENTS
# ─────────────────────────────────────────────
components:

  # ══════════════════════════════════════════
  # PARAMETERS
  # ══════════════════════════════════════════
  parameters:
    collectiviteId:
      name: collectiviteId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Identifiant unique de la collectivité

    membreId:
      name: membreId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Identifiant unique du membre

    cotisationId:
      name: cotisationId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Identifiant unique de la cotisation

    compteId:
      name: compteId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Identifiant unique du compte

    activiteId:
      name: activiteId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Identifiant unique de l'activité

  # ══════════════════════════════════════════
  # RESPONSES COMMUNES
  # ══════════════════════════════════════════
  responses:
    BadRequest:
      description: Requête invalide (données manquantes ou incorrectes)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    NotFound:
      description: Ressource introuvable
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Forbidden:
      description: Action non autorisée pour ce rôle
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    UnprocessableEntity:
      description: Entité non traitable — violation d'une règle métier
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  # ══════════════════════════════════════════
  # SCHEMAS
  # ══════════════════════════════════════════
  schemas:

    # ── Enums ──────────────────────────────

    Poste:
      type: string
      enum:
        - PRESIDENT
        - PRESIDENT_ADJOINT
        - TRESORIER
        - SECRETAIRE
        - MEMBRE_CONFIRME
        - MEMBRE_JUNIOR
      description: Poste d'un membre dans une collectivité

    Genre:
      type: string
      enum:
        - MASCULIN
        - FEMININ

    TypeCotisation:
      type: string
      enum:
        - MENSUELLE
        - ANNUELLE
        - PONCTUELLE
      description: |
        Type de cotisation :
        - MENSUELLE / ANNUELLE : cotisations périodiques, soumises au reversement à la fédération
        - PONCTUELLE : cotisation exceptionnelle, motif obligatoire, non reversée à la fédération

    ModePaiement:
      type: string
      enum:
        - ESPECE
        - VIREMENT_BANCAIRE
        - MOBILE_MONEY

    TypeCompte:
      type: string
      enum:
        - CAISSE
        - BANCAIRE
        - MOBILE_MONEY

    NomBanque:
      type: string
      enum:
        - BRED
        - MCB
        - BMOI
        - BOA
        - BGFI
        - AFG
        - ACCES_BANQUE
        - BAOBAB
        - SIPEM

    ServiceMobileMoney:
      type: string
      enum:
        - ORANGE_MONEY
        - MVOLA
        - AIRTEL_MONEY

    TypeActivite:
      type: string
      enum:
        - ASSEMBLEE_GENERALE
        - FORMATION_JUNIOR
        - EXCEPTIONNELLE

    StatutPresence:
      type: string
      enum:
        - PRESENT
        - ABSENT
        - EXCUSE

    StatutCollectivite:
      type: string
      enum:
        - EN_ATTENTE
        - AUTORISEE
        - REFUSEE

    RelationParrain:
      type: string
      description: Nature de la relation entre le candidat et le parrain
      example: famille

    # ── Collectivité ───────────────────────

    CollectiviteBase:
      type: object
      properties:
        nom:
          type: string
          example: Collectivité Vakinankaratra
        ville:
          type: string
          example: Antsirabe
        specialiteAgricole:
          type: string
          example: Riziculture
        dateCreation:
          type: string
          format: date

    CollectiviteCreationRequest:
      allOf:
        - $ref: '#/components/schemas/CollectiviteBase'
        - type: object
          required: [nom, ville, specialiteAgricole, dateCreation, membresInitiaux, postesInitiaux]
          properties:
            membresInitiaux:
              type: array
              minItems: 10
              items:
                type: string
                format: uuid
              description: |
                Liste des IDs des membres fondateurs (minimum 10 membres).
                Parmi ces membres, au moins 5 doivent avoir une ancienneté ≥ 6 mois
                au sein de la fédération.
            postesInitiaux:
              $ref: '#/components/schemas/PostesMandat'

    CollectiviteUpdateRequest:
      type: object
      properties:
        nom:
          type: string
        ville:
          type: string
        specialiteAgricole:
          type: string

    CollectiviteResponse:
      allOf:
        - $ref: '#/components/schemas/CollectiviteBase'
        - type: object
          properties:
            id:
              type: string
              format: uuid
            numero:
              type: string
              description: Numéro unique de la collectivité
            statut:
              $ref: '#/components/schemas/StatutCollectivite'
            nombreMembres:
              type: integer
              description: Nombre de membres actifs inscrits
            cotisationAnnuelleObligatoire:
              type: number
              format: double
              description: Montant des cotisations annuelles obligatoires imposées par la collectivité (MGA)

    CollectiviteListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CollectiviteResponse'
        pagination:
          $ref: '#/components/schemas/Pagination'

    # ── Membre ─────────────────────────────

    MembreBase:
      type: object
      properties:
        nom:
          type: string
        prenom:
          type: string
        dateNaissance:
          type: string
          format: date
        genre:
          $ref: '#/components/schemas/Genre'
        adresse:
          type: string
        metier:
          type: string
        telephone:
          type: string
          example: "+261 34 00 000 00"
        email:
          type: string
          format: email

    ParrainCandidat:
      type: object
      required: [parrainId, relation]
      properties:
        parrainId:
          type: string
          format: uuid
          description: |
            Identifiant du membre confirmé parrain.
            Le parrain doit avoir une ancienneté > 90 jours dans la fédération.
        relation:
          type: string
          description: |
            Nature de la relation entre le candidat et ce parrain.
            Exemples : famille, amis, collègues, voisins, etc.
          example: famille

    MembreInscriptionRequest:
      allOf:
        - $ref: '#/components/schemas/MembreBase'
        - type: object
          required:
            - nom
            - prenom
            - dateNaissance
            - genre
            - adresse
            - metier
            - telephone
            - email
            - collectiviteId
            - parrains
            - paiement
          properties:
            collectiviteId:
              type: string
              format: uuid
              description: Identifiant de la collectivité dans laquelle le candidat postule
            parrains:
              type: array
              minItems: 2
              items:
                $ref: '#/components/schemas/ParrainCandidat'
              description: |
                Liste des parrains confirmés (minimum 2 requis).

                Règle de répartition (mise à jour du 21 avril 2026) :
                Le nombre de parrains issus de la collectivité cible doit être supérieur
                ou égal au nombre de parrains issus d'autres collectivités.

                Exemples :
                  ✔ 2 parrains de la collectivité cible → accepté
                  ✔ 1 parrain de la cible + 1 d'une autre → accepté
                  ✔ 3 parrains de la cible + 2 d'autres → accepté
                  ✗ 0 parrain de la cible + 2 d'autres → refusé
            paiement:
              $ref: '#/components/schemas/PaiementAdhesion'

    PaiementAdhesion:
      type: object
      required: [modePaiement, montantAdhesion, montantCotisationAnnuelle]
      properties:
        montantAdhesion:
          type: number
          format: double
          default: 50000
          description: Frais d'adhésion fixes en MGA (50 000 MGA)
        montantCotisationAnnuelle:
          type: number
          format: double
          description: |
            Montant des cotisations annuelles obligatoires de la collectivité cible, en MGA.
            Ce montant est fixé par la collectivité et doit être réglé intégralement
            lors de l'adhésion (en plus des 50 000 MGA de frais d'adhésion).
        modePaiement:
          type: string
          enum:
            - MOBILE_MONEY
            - VIREMENT_BANCAIRE
          description: Mode de paiement (espèce non acceptée pour l'adhésion)

    MembreUpdateRequest:
      allOf:
        - $ref: '#/components/schemas/MembreBase'

    MembreResponse:
      allOf:
        - $ref: '#/components/schemas/MembreBase'
        - type: object
          properties:
            id:
              type: string
              format: uuid
            dateAdhesion:
              type: string
              format: date
            collectiviteId:
              type: string
              format: uuid
            poste:
              $ref: '#/components/schemas/Poste'
            actif:
              type: boolean
              description: false si le membre a démissionné
            dateDemission:
              type: string
              format: date
              nullable: true

    MembreListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/MembreResponse'
        pagination:
          $ref: '#/components/schemas/Pagination'

    # ── Mandat ─────────────────────────────

    PostesMandat:
      type: object
      required: [presidentId, presidentAdjointId, tresoríerId, secretaireId]
      properties:
        presidentId:
          type: string
          format: uuid
        presidentAdjointId:
          type: string
          format: uuid
        tresoríerId:
          type: string
          format: uuid
        secretaireId:
          type: string
          format: uuid

    MandatCreationRequest:
      type: object
      required: [annee, postes]
      properties:
        annee:
          type: integer
          description: Année civile du mandat
          example: 2026
        postes:
          $ref: '#/components/schemas/PostesMandat'

    MandatResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        collectiviteId:
          type: string
          format: uuid
        annee:
          type: integer
        postes:
          $ref: '#/components/schemas/PostesMandat'
        dateDebut:
          type: string
          format: date
        dateFin:
          type: string
          format: date

    MandatListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/MandatResponse'
        pagination:
          $ref: '#/components/schemas/Pagination'

    # ── Cotisation ─────────────────────────

    CotisationCreationRequest:
      type: object
      required: [membreId, type, montant, dateEncaissement, modePaiement]
      properties:
        membreId:
          type: string
          format: uuid
        type:
          $ref: '#/components/schemas/TypeCotisation'
        montant:
          type: number
          format: double
          description: Montant en MGA
        dateEncaissement:
          type: string
          format: date
        modePaiement:
          $ref: '#/components/schemas/ModePaiement'
        motif:
          type: string
          description: Motif obligatoire si type = PONCTUELLE

    CotisationResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        membreId:
          type: string
          format: uuid
        collectiviteId:
          type: string
          format: uuid
        type:
          $ref: '#/components/schemas/TypeCotisation'
        montant:
          type: number
          format: double
        dateEncaissement:
          type: string
          format: date
        modePaiement:
          $ref: '#/components/schemas/ModePaiement'
        montantReverseFederation:
          type: number
          format: double
          nullable: true
          description: |
            Montant reversé à la fédération selon le taux en vigueur.
            Applicable uniquement pour les cotisations périodiques (MENSUELLE, ANNUELLE).
            Null pour les cotisations ponctuelles.
        motif:
          type: string
          nullable: true

    CotisationListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CotisationResponse'
        totalMontant:
          type: number
          format: double
          description: Total des montants encaissés sur la période
        pagination:
          $ref: '#/components/schemas/Pagination'

    # ── Compte ─────────────────────────────

    CompteCreationRequest:
      type: object
      required: [type]
      properties:
        type:
          $ref: '#/components/schemas/TypeCompte'
        soldeInitial:
          type: number
          format: double
          default: 0
          description: Solde initial en MGA
        dateOuverture:
          type: string
          format: date
        nomTitulaire:
          type: string
          description: Nom du titulaire du compte (bancaire ou mobile money)
        nomBanque:
          $ref: '#/components/schemas/NomBanque'
        numeroBanque:
          type: string
          pattern: '^\d{23}$'
          description: |
            Numéro de compte bancaire RIB à 23 chiffres.
            Format : BBBBBGGGGGCCCCCCCCCCCKKK
            - BBBBB : Code banque (5 chiffres)
            - GGGGG : Code guichet (5 chiffres)
            - CCCCCCCCCCC : Numéro de compte (11 chiffres)
            - KK : Clé RIB (2 chiffres)
        serviceMobileMoney:
          $ref: '#/components/schemas/ServiceMobileMoney'
        numeroTelephone:
          type: string
          description: Numéro de téléphone unique associé au compte mobile money

    CompteResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          $ref: '#/components/schemas/TypeCompte'
        solde:
          type: number
          format: double
          description: Solde actuel en MGA
        dateReleve:
          type: string
          format: date
          description: Date du dernier relevé de solde
        nomTitulaire:
          type: string
          nullable: true
        nomBanque:
          allOf:
            - $ref: '#/components/schemas/NomBanque'
          nullable: true
        numeroBanque:
          type: string
          nullable: true
        serviceMobileMoney:
          allOf:
            - $ref: '#/components/schemas/ServiceMobileMoney'
          nullable: true
        numeroTelephone:
          type: string
          nullable: true

    CompteListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CompteResponse'
        totalSolde:
          type: number
          format: double
          description: Solde total de tous les comptes en MGA

    # ── Activité ───────────────────────────

    ActiviteBase:
      type: object
      properties:
        titre:
          type: string
        description:
          type: string
        type:
          $ref: '#/components/schemas/TypeActivite'
        dateActivite:
          type: string
          format: date-time
        obligatoire:
          type: boolean
          default: false
          description: |
            Indique si la présence est obligatoire.
            - ASSEMBLEE_GENERALE : toujours true (tous membres)
            - FORMATION_JUNIOR : toujours true (membres juniors uniquement)
            - EXCEPTIONNELLE : défini par la collectivité

    ActiviteCreationRequest:
      allOf:
        - $ref: '#/components/schemas/ActiviteBase'
        - type: object
          required: [titre, type, dateActivite]
          properties:
            membresObligatoires:
              type: array
              items:
                type: string
                format: uuid
              description: |
                IDs des membres pour lesquels la présence est obligatoire.
                - Si vide et type = ASSEMBLEE_GENERALE : concerne tous les membres.
                - Si vide et type = FORMATION_JUNIOR : concerne tous les membres juniors.
                - Pour les activités EXCEPTIONNELLES : liste explicite des membres concernés.
                  Si vide et obligatoire = true : concerne tous les membres.

    ActiviteFederationCreationRequest:
      allOf:
        - $ref: '#/components/schemas/ActiviteBase'
        - type: object
          required: [titre, type, dateActivite]
          properties:
            collectivitesInvitees:
              type: array
              items:
                type: string
                format: uuid
              description: |
                IDs des collectivités invitées à l'activité.
                Si vide, toutes les collectivités sont invitées.

    ActiviteUpdateRequest:
      type: object
      properties:
        titre:
          type: string
        description:
          type: string
        dateActivite:
          type: string
          format: date-time
        obligatoire:
          type: boolean
        membresObligatoires:
          type: array
          items:
            type: string
            format: uuid

    ActiviteResponse:
      allOf:
        - $ref: '#/components/schemas/ActiviteBase'
        - type: object
          properties:
            id:
              type: string
              format: uuid
            collectiviteId:
              type: string
              format: uuid
              nullable: true
              description: Null si l'activité est organisée par la fédération
            organisePar:
              type: string
              enum: [COLLECTIVITE, FEDERATION]
            membresObligatoires:
              type: array
              items:
                type: string
                format: uuid

    ActiviteListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ActiviteResponse'
        pagination:
          $ref: '#/components/schemas/Pagination'

    # ── Présence ───────────────────────────

    PresenceCreationRequest:
      type: object
      required: [membreId, statut]
      properties:
        membreId:
          type: string
          format: uuid
        statut:
          $ref: '#/components/schemas/StatutPresence'
        motifAbsence:
          type: string
          description: Obligatoire si statut = EXCUSE

    PresenceUpdateRequest:
      type: object
      properties:
        statut:
          $ref: '#/components/schemas/StatutPresence'
        motifAbsence:
          type: string
          description: Obligatoire si statut = EXCUSE

    PresenceResponse:
      type: object
      properties:
        membreId:
          type: string
          format: uuid
        activiteId:
          type: string
          format: uuid
        statut:
          $ref: '#/components/schemas/StatutPresence'
        motifAbsence:
          type: string
          nullable: true
        estMembreExterne:
          type: boolean
          description: |
            true si le membre appartient à une autre collectivité.
            Sa présence ne compte pas dans son taux d'assiduité annuel.

    PresenceListResponse:
      type: object
      properties:
        activiteId:
          type: string
          format: uuid
        presences:
          type: array
          items:
            $ref: '#/components/schemas/PresenceResponse'
        totalPresents:
          type: integer
        totalAbsents:
          type: integer
        totalExcuses:
          type: integer

    # ── Statistiques collectivité ──────────

    RapportMensuelCollectiviteResponse:
      type: object
      properties:
        collectiviteId:
          type: string
          format: uuid
        collectiviteNom:
          type: string
        annee:
          type: integer
        mois:
          type: integer
        tauxAssiduite:
          type: number
          format: float
          description: Taux d'assiduité global de la collectivité sur le mois (%)
          example: 85.5
        nombreMembresInscrits:
          type: integer
          description: Nombre total de membres actifs inscrits dans la collectivité

    StatsMembreResponse:
      type: object
      properties:
        membreId:
          type: string
          format: uuid
        nom:
          type: string
        prenom:
          type: string
        poste:
          $ref: '#/components/schemas/Poste'
        tauxAssiduite:
          type: number
          format: float
          description: Taux d'assiduité du membre sur la période (%)
        montantEncaisse:
          type: number
          format: double
          description: Total des cotisations payées par le membre sur la période (MGA)
        montantImpaye:
          type: number
          format: double
          description: Montant potentiellement impayé par le membre sur la période (MGA)

    StatsMembresResponse:
      type: object
      properties:
        collectiviteId:
          type: string
          format: uuid
        dateDebut:
          type: string
          format: date
        dateFin:
          type: string
          format: date
        membres:
          type: array
          items:
            $ref: '#/components/schemas/StatsMembreResponse'
        pagination:
          $ref: '#/components/schemas/Pagination'

    # ── Statistiques fédération (H) ────────

    RapportCollectiviteItem:
      type: object
      description: Données statistiques d'une collectivité pour un rapport fédération
      properties:
        collectiviteId:
          type: string
          format: uuid
        collectiviteNom:
          type: string
        tauxAssiduite:
          type: number
          format: float
          description: Taux d'assiduité global de la collectivité sur la période (%)
          example: 85.5
        pourcentageMembresCotisationJour:
          type: number
          format: float
          description: |
            Pourcentage de membres actifs à jour dans leurs cotisations sur la période (%).
            Un membre est considéré à jour s'il n'a aucun montant impayé sur la période.
          example: 78.0
        nombreNouveauxAdherents:
          type: integer
          description: Nombre de nouveaux membres admis dans la collectivité sur la période

    RapportMensuelFederationResponse:
      type: object
      properties:
        annee:
          type: integer
          example: 2026
        mois:
          type: integer
          example: 4
        collectivites:
          type: array
          items:
            $ref: '#/components/schemas/RapportCollectiviteItem'

    RapportAnnuelFederationResponse:
      type: object
      properties:
        annee:
          type: integer
          example: 2026
        collectivites:
          type: array
          items:
            $ref: '#/components/schemas/RapportCollectiviteItem'
          description: |
            Données agrégées sur l'ensemble de l'année civile pour chaque collectivité.
            Présentées lors de l'assemblée générale annuelle pour identifier les collectivités
            méritantes et celles nécessitant un accompagnement.

    # ── Génériques ─────────────────────────

    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer

    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          example: RESSOURCE_INTROUVABLE
        message:
          type: string
          example: La collectivité demandée n'existe pas.
        details:
          type: array
          items:
            type: object
            properties:
              champ:
                type: string
              erreur:
                type: string
