openapi: 3.0.3
info:
  title: API - Fédération de Collectivités Agricoles
  description: |
    API REST pour la gestion de la fédération nationale de collectivités agricoles de Madagascar.

    Elle couvre les fonctionnalités suivantes :
    - **A** : Ouverture d'une nouvelle collectivité
    - **B** : Admission et gestion des membres (mise à jour du 21 avril 2026)
    - **C** : Cotisations et paiements
    - **D** : Situation de trésorerie
    - **E** : Activités des collectivités et de la fédération
    - **F** : Assiduité des membres
    - **G** : Statistiques des collectivités
    - **H** : Statistiques de la fédération (ajout du 21 avril 2026)
  version: 2.0.0
  contact:
    name: Fédération Agricole Madagascar

servers:
  - url: https://api.federation-agricole.mg/v1
    description: Serveur de production

tags:
  - name: Communities
    description: Gestion des collectivités agricoles (Fonctionnalité A)
  - name: Members
    description: Admission et gestion des membres (Fonctionnalité B)
  - name: Contributions
    description: Cotisations et paiements (Fonctionnalité C)
  - name: Treasury
    description: Comptes et situation financière (Fonctionnalité D)
  - name: Activities
    description: Activités des collectivités et de la fédération (Fonctionnalité E)
  - name: Attendance
    description: Présences aux activités (Fonctionnalité F)
  - name: Statistics
    description: Rapports et statistiques des collectivités (Fonctionnalité G)
  - name: FederationStatistics
    description: Rapports et statistiques globaux de la fédération (Fonctionnalité H)

paths:

  /communities:
    get:
      tags: [Communities]
      summary: Lister toutes les collectivités
      operationId: getCommunities
      parameters:
        - name: city
          in: query
          schema:
            type: string
          description: Filtrer par ville
        - name: specialty
          in: query
          schema:
            type: string
          description: Filtrer par spécialité agricole
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Liste des collectivités
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunityListResponse'

    post:
      tags: [Communities]
      summary: Demander l'ouverture d'une nouvelle collectivité
      description: |
        Soumet une demande d'ouverture d'une nouvelle collectivité à la fédération.

        Conditions requises :
        - Avoir au moins 10 membres inscrits, dont au moins 5 ayant une ancienneté ≥ 6 mois
          au sein de la fédération.
        - Avoir les postes spécifiques (président, président adjoint, trésorier, secrétaire)
          pourvus par des membres, pouvant être inclus dans les 10 effectifs minimum.
        - Déterminer la localité (ville) ainsi que la spécialité agricole.
        - L'autorisation formelle de la fédération sera délivrée après validation via
          POST /communities/{communityId}/authorization.
      operationId: createCommunity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommunityCreationRequest'
      responses:
        '201':
          description: Demande d'ouverture soumise avec succès
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunityResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /communities/{communityId}:
    get:
      tags: [Communities]
      summary: Obtenir les détails d'une collectivité
      operationId: getCommunityById
      parameters:
        - $ref: '#/components/parameters/communityId'
      responses:
        '200':
          description: Détails de la collectivité
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunityResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Communities]
      summary: Modifier les informations d'une collectivité
      operationId: updateCommunity
      parameters:
        - $ref: '#/components/parameters/communityId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommunityUpdateRequest'
      responses:
        '200':
          description: Collectivité mise à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunityResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /communities/{communityId}/authorization:
    post:
      tags: [Communities]
      summary: Délivrer l'autorisation d'ouverture (fédération seulement)
      description: Permet à la fédération d'accorder ou de refuser formellement l'ouverture d'une collectivité.
      operationId: authorizeCommunity
      parameters:
        - $ref: '#/components/parameters/communityId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [authorized, comment]
              properties:
                authorized:
                  type: boolean
                  description: true = autorisation accordée, false = refus
                comment:
                  type: string
                  description: Commentaire ou motif de la décision
      responses:
        '200':
          description: Décision enregistrée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunityResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /members:
    get:
      tags: [Members]
      summary: Lister tous les membres de la fédération
      operationId: getMembers
      parameters:
        - name: communityId
          in: query
          schema:
            type: string
            format: uuid
          description: Filtrer par collectivité
        - name: position
          in: query
          schema:
            $ref: '#/components/schemas/Position'
        - name: active
          in: query
          schema:
            type: boolean
          description: Filtrer les membres actifs (non démissionnaires)
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Liste des membres
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberListResponse'

    post:
      tags: [Members]
      summary: Inscrire un nouveau membre dans la fédération
      description: |
        Permet d'inscrire un nouveau membre dans une collectivité de la fédération.

        Conditions d'admission (mises à jour du 21 avril 2026) :
        - Être parrainé par **au moins deux (2) membres confirmés** de la fédération.
        - Le nombre de parrains issus de la collectivité cible doit être **supérieur ou égal**
          au nombre de parrains issus d'autres collectivités.
          Exemples :
            ✔ 2 parrains de la collectivité cible → accepté
            ✔ 1 parrain de la collectivité cible + 1 d'une autre → accepté
            ✔ 3 parrains de la cible + 2 d'autres collectivités → accepté
            ✗ 0 parrain de la cible + 2 d'autres collectivités → refusé
        - Fournir ses informations personnelles, incluant la **nature de la relation**
          avec chaque parrain (famille, amis, collègues, etc.).
        - Régler un frais d'adhésion de **50 000 MGA** (par mobile money ou virement bancaire).
        - Régler **l'intégralité des cotisations annuelles obligatoires** imposées par la
          collectivité cible (montant variable selon la collectivité).
      operationId: registerMember
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemberRegistrationRequest'
      responses:
        '201':
          description: Membre inscrit avec succès
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /members/{memberId}:
    get:
      tags: [Members]
      summary: Obtenir les détails d'un membre
      operationId: getMemberById
      parameters:
        - $ref: '#/components/parameters/memberId'
      responses:
        '200':
          description: Détails du membre
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Members]
      summary: Mettre à jour les informations personnelles d'un membre
      operationId: updateMember
      parameters:
        - $ref: '#/components/parameters/memberId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemberUpdateRequest'
      responses:
        '200':
          description: Membre mis à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /members/{memberId}/community:
    put:
      tags: [Members]
      summary: Changer de collectivité
      description: |
        Permet à un membre de rejoindre une autre collectivité (ex. changement de ville).
        Le changement est enregistré avec un motif obligatoire.
      operationId: changeMemberCommunity
      parameters:
        - $ref: '#/components/parameters/memberId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [communityId, reason]
              properties:
                communityId:
                  type: string
                  format: uuid
                  description: Identifiant de la nouvelle collectivité cible
                reason:
                  type: string
                  description: Motif du changement (ex. déménagement)
      responses:
        '200':
          description: Changement de collectivité enregistré
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /members/{memberId}/resignation:
    post:
      tags: [Members]
      summary: Enregistrer la démission d'un membre
      description: Enregistre la démission volontaire d'un membre. Le membre est alors marqué inactif.
      operationId: resignMember
      parameters:
        - $ref: '#/components/parameters/memberId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [resignationDate, reason]
              properties:
                resignationDate:
                  type: string
                  format: date
                reason:
                  type: string
      responses:
        '200':
          description: Démission enregistrée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /communities/{communityId}/mandates:
    get:
      tags: [Members]
      summary: Lister les mandats d'une collectivité
      operationId: getMandates
      parameters:
        - $ref: '#/components/parameters/communityId'
        - name: year
          in: query
          schema:
            type: integer
          description: Filtrer par année civile
      responses:
        '200':
          description: Liste des mandats
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MandateListResponse'

    post:
      tags: [Members]
      summary: Créer un nouveau mandat pour une collectivité
      description: |
        Enregistre les résultats du vote pour le nouveau mandat annuel.

        Règles :
        - Un mandat dure une année civile.
        - Chaque membre ne peut occuper un même poste spécifique plus de 2 fois au total
          (même non consécutifs).
        - Les postes président, président adjoint, trésorier et secrétaire ne peuvent
          être occupés que par un seul membre par mandat.
      operationId: createMandate
      parameters:
        - $ref: '#/components/parameters/communityId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MandateCreationRequest'
      responses:
        '201':
          description: Mandat créé avec succès
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MandateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /communities/{communityId}/contributions:
    get:
      tags: [Contributions]
      summary: Lister les cotisations d'une collectivité
      operationId: getCommunityContributions
      parameters:
        - $ref: '#/components/parameters/communityId'
        - name: memberId
          in: query
          schema:
            type: string
            format: uuid
          description: Filtrer par membre
        - name: type
          in: query
          schema:
            $ref: '#/components/schemas/ContributionType'
        - name: startDate
          in: query
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          schema:
            type: string
            format: date
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Liste des cotisations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContributionListResponse'

    post:
      tags: [Contributions]
      summary: Enregistrer un encaissement (cotisation)
      description: |
        Le trésorier enregistre un paiement de cotisation d'un membre.

        - Les cotisations peuvent être périodiques (MONTHLY, ANNUAL) ou PUNCTUAL.
        - Pour les cotisations PUNCTUAL, le motif est obligatoire.
        - Un pourcentage des cotisations périodiques est automatiquement reversé à la fédération
          selon le taux en vigueur (cf. GET /federation/contribution-rate).
        - Le mode de paiement accepté est : espèce, virement bancaire ou mobile money.
      operationId: recordContribution
      parameters:
        - $ref: '#/components/parameters/communityId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContributionCreationRequest'
      responses:
        '201':
          description: Cotisation enregistrée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContributionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /communities/{communityId}/contributions/{contributionId}:
    get:
      tags: [Contributions]
      summary: Obtenir les détails d'une cotisation
      operationId: getContributionById
      parameters:
        - $ref: '#/components/parameters/communityId'
        - $ref: '#/components/parameters/contributionId'
      responses:
        '200':
          description: Détails de la cotisation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContributionResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /federation/contributions:
    get:
      tags: [Contributions]
      summary: Lister les reversements reçus par la fédération
      operationId: getFederationContributions
      parameters:
        - name: startDate
          in: query
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          schema:
            type: string
            format: date
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Liste des reversements reçus par la fédération
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContributionListResponse'

  /federation/contribution-rate:
    get:
      tags: [Contributions]
      summary: Obtenir le taux de reversement actuel à la fédération
      operationId: getContributionRate
      responses:
        '200':
          description: Taux de reversement en vigueur
          content:
            application/json:
              schema:
                type: object
                properties:
                  rate:
                    type: number
                    format: float
                    example: 0.10
                    description: Taux de reversement (ex. 0.10 = 10%)
                  effectiveDate:
                    type: string
                    format: date
                    description: Date d'entrée en vigueur du taux

    put:
      tags: [Contributions]
      summary: Modifier le taux de reversement à la fédération
      description: |
        Permet à la fédération de définir le pourcentage des cotisations périodiques
        reversé par les collectivités. Accessible uniquement aux responsables de la fédération.
      operationId: setContributionRate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [rate, effectiveDate]
              properties:
                rate:
                  type: number
                  format: float
                  minimum: 0
                  maximum: 1
                  description: Nouveau taux (ex. 0.10 = 10%)
                effectiveDate:
                  type: string
                  format: date
                  description: Date d'entrée en vigueur
      responses:
        '200':
          description: Taux mis à jour
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'

  /communities/{communityId}/accounts:
    get:
      tags: [Treasury]
      summary: Lister les comptes d'une collectivité
      operationId: getCommunityAccounts
      parameters:
        - $ref: '#/components/parameters/communityId'
        - name: type
          in: query
          schema:
            $ref: '#/components/schemas/AccountType'
      responses:
        '200':
          description: Liste des comptes de la collectivité
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountListResponse'

    post:
      tags: [Treasury]
      summary: Créer un nouveau compte pour une collectivité
      description: |
        Crée un compte bancaire, mobile money ou caisse pour une collectivité.

        Contraintes :
        - Une seule caisse (CASH) par collectivité — retourne 422 si une caisse existe déjà.
        - Plusieurs comptes bancaires (BANK) ou mobile money (MOBILE_MONEY) autorisés.
        - Le numéro de compte bancaire doit respecter le format RIB à 23 chiffres :
          BBBBBGGGGGCCCCCCCCCCCKKK
      operationId: createCommunityAccount
      parameters:
        - $ref: '#/components/parameters/communityId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreationRequest'
      responses:
        '201':
          description: Compte créé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /communities/{communityId}/accounts/{accountId}:
    get:
      tags: [Treasury]
      summary: Obtenir les détails d'un compte
      operationId: getCommunityAccountById
      parameters:
        - $ref: '#/components/parameters/communityId'
        - $ref: '#/components/parameters/accountId'
      responses:
        '200':
          description: Détails du compte
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Treasury]
      summary: Mettre à jour le solde d'un compte
      description: Permet au trésorier de mettre à jour le solde constaté à une date donnée.
      operationId: updateCommunityAccountBalance
      parameters:
        - $ref: '#/components/parameters/communityId'
        - $ref: '#/components/parameters/accountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [balance, statementDate]
              properties:
                balance:
                  type: number
                  format: double
                  description: Nouveau solde en MGA
                statementDate:
                  type: string
                  format: date
                  description: Date du relevé de solde
      responses:
        '200':
          description: Solde mis à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Treasury]
      summary: Supprimer un compte
      operationId: deleteCommunityAccount
      parameters:
        - $ref: '#/components/parameters/communityId'
        - $ref: '#/components/parameters/accountId'
      responses:
        '204':
          description: Compte supprimé
        '404':
          $ref: '#/components/responses/NotFound'

  /federation/accounts:
    get:
      tags: [Treasury]
      summary: Lister les comptes de la fédération
      operationId: getFederationAccounts
      parameters:
        - name: type
          in: query
          schema:
            $ref: '#/components/schemas/AccountType'
      responses:
        '200':
          description: Liste des comptes de la fédération
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountListResponse'

    post:
      tags: [Treasury]
      summary: Créer un compte pour la fédération
      description: |
        Même contraintes que pour une collectivité :
        - Une seule caisse possible pour la fédération.
        - Plusieurs comptes bancaires ou mobile money autorisés.
      operationId: createFederationAccount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreationRequest'
      responses:
        '201':
          description: Compte créé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /federation/accounts/{accountId}:
    get:
      tags: [Treasury]
      summary: Détails d'un compte de la fédération
      operationId: getFederationAccountById
      parameters:
        - $ref: '#/components/parameters/accountId'
      responses:
        '200':
          description: Détails du compte
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Treasury]
      summary: Mettre à jour le solde d'un compte de la fédération
      operationId: updateFederationAccountBalance
      parameters:
        - $ref: '#/components/parameters/accountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [balance, statementDate]
              properties:
                balance:
                  type: number
                  format: double
                statementDate:
                  type: string
                  format: date
      responses:
        '200':
          description: Solde mis à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Treasury]
      summary: Supprimer un compte de la fédération
      operationId: deleteFederationAccount
      parameters:
        - $ref: '#/components/parameters/accountId'
      responses:
        '204':
          description: Compte supprimé
        '404':
          $ref: '#/components/responses/NotFound'

  /communities/{communityId}/activities:
    get:
      tags: [Activities]
      summary: Lister les activités d'une collectivité
      operationId: getCommunityActivities
      parameters:
        - $ref: '#/components/parameters/communityId'
        - name: type
          in: query
          schema:
            $ref: '#/components/schemas/ActivityType'
        - name: startDate
          in: query
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          schema:
            type: string
            format: date
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Liste des activités
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityListResponse'

    post:
      tags: [Activities]
      summary: Planifier une activité pour une collectivité
      description: |
        Planifie une activité pour la collectivité.

        Types possibles :
        - `GENERAL_ASSEMBLY` : présence obligatoire pour tous les membres de la collectivité.
          La date est fixée annuellement sur un même jour récurrent (ex. 2ème dimanche du mois).
        - `JUNIOR_TRAINING` : présence obligatoire uniquement pour les membres juniors.
          La date est fixée annuellement sur un même jour récurrent (ex. 4ème samedi du mois).
        - `EXCEPTIONAL` : la collectivité définit si la présence est obligatoire pour tous
          ou seulement pour certains membres via le champ mandatoryMembers.
      operationId: createCommunityActivity
      parameters:
        - $ref: '#/components/parameters/communityId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivityCreationRequest'
      responses:
        '201':
          description: Activité planifiée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /communities/{communityId}/activities/{activityId}:
    get:
      tags: [Activities]
      summary: Obtenir les détails d'une activité
      operationId: getCommunityActivityById
      parameters:
        - $ref: '#/components/parameters/communityId'
        - $ref: '#/components/parameters/activityId'
      responses:
        '200':
          description: Détails de l'activité
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Activities]
      summary: Modifier une activité
      operationId: updateCommunityActivity
      parameters:
        - $ref: '#/components/parameters/communityId'
        - $ref: '#/components/parameters/activityId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivityUpdateRequest'
      responses:
        '200':
          description: Activité mise à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Activities]
      summary: Annuler une activité
      operationId: deleteCommunityActivity
      parameters:
        - $ref: '#/components/parameters/communityId'
        - $ref: '#/components/parameters/activityId'
      responses:
        '204':
          description: Activité annulée
        '404':
          $ref: '#/components/responses/NotFound'

  /federation/activities:
    get:
      tags: [Activities]
      summary: Lister les activités planifiées par la fédération
      operationId: getFederationActivities
      parameters:
        - name: startDate
          in: query
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          schema:
            type: string
            format: date
        - name: mandatory
          in: query
          schema:
            type: boolean
          description: Filtrer les activités obligatoires
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Liste des activités de la fédération
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityListResponse'

    post:
      tags: [Activities]
      summary: Planifier une activité nationale (fédération)
      description: |
        La fédération planifie une activité à laquelle les collectivités sont invitées.
        Peut être obligatoire ou non. Si invitedCommunities est vide, toutes les
        collectivités sont concernées.
      operationId: createFederationActivity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FederationActivityCreationRequest'
      responses:
        '201':
          description: Activité planifiée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'

  /federation/activities/{activityId}:
    get:
      tags: [Activities]
      summary: Détails d'une activité de la fédération
      operationId: getFederationActivityById
      parameters:
        - $ref: '#/components/parameters/activityId'
      responses:
        '200':
          description: Détails de l'activité
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Activities]
      summary: Modifier une activité de la fédération
      operationId: updateFederationActivity
      parameters:
        - $ref: '#/components/parameters/activityId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivityUpdateRequest'
      responses:
        '200':
          description: Activité mise à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Activities]
      summary: Annuler une activité de la fédération
      operationId: deleteFederationActivity
      parameters:
        - $ref: '#/components/parameters/activityId'
      responses:
        '204':
          description: Activité annulée
        '404':
          $ref: '#/components/responses/NotFound'

  /communities/{communityId}/activities/{activityId}/attendances:
    get:
      tags: [Attendance]
      summary: Consulter la fiche de présence d'une activité
      operationId: getCommunityActivityAttendances
      parameters:
        - $ref: '#/components/parameters/communityId'
        - $ref: '#/components/parameters/activityId'
      responses:
        '200':
          description: Fiche de présence de l'activité
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttendanceListResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      tags: [Attendance]
      summary: Enregistrer la présence d'un membre à une activité
      description: |
        Le secrétaire enregistre la présence ou l'absence d'un membre à une activité.

        - Un membre peut être excusé (EXCUSED) si son absence a été notifiée au préalable
          avec un motif.
        - Un membre d'une autre collectivité peut être inscrit en fiche de présence
          (isExternalMember = true), mais sa présence ne compte pas dans son taux
          d'assiduité annuel.
      operationId: recordCommunityActivityAttendance
      parameters:
        - $ref: '#/components/parameters/communityId'
        - $ref: '#/components/parameters/activityId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttendanceCreationRequest'
      responses:
        '201':
          description: Présence enregistrée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttendanceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /communities/{communityId}/activities/{activityId}/attendances/{memberId}:
    patch:
      tags: [Attendance]
      summary: Modifier le statut de présence d'un membre
      description: Permet de mettre à jour le statut d'un membre (ex. passer de ABSENT à EXCUSED avec motif).
      operationId: updateCommunityActivityAttendance
      parameters:
        - $ref: '#/components/parameters/communityId'
        - $ref: '#/components/parameters/activityId'
        - $ref: '#/components/parameters/memberId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttendanceUpdateRequest'
      responses:
        '200':
          description: Présence mise à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttendanceResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /federation/activities/{activityId}/attendances:
    get:
      tags: [Attendance]
      summary: Consulter la fiche de présence d'une activité de la fédération
      operationId: getFederationActivityAttendances
      parameters:
        - $ref: '#/components/parameters/activityId'
      responses:
        '200':
          description: Fiche de présence de l'activité fédération
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttendanceListResponse'

    post:
      tags: [Attendance]
      summary: Enregistrer la présence à une activité de la fédération
      operationId: recordFederationActivityAttendance
      parameters:
        - $ref: '#/components/parameters/activityId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttendanceCreationRequest'
      responses:
        '201':
          description: Présence enregistrée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttendanceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /communities/{communityId}/statistics/monthly-report:
    get:
      tags: [Statistics]
      summary: Rapport mensuel à soumettre à la fédération
      description: |
        Retourne le taux d'assiduité global de la collectivité ainsi que le nombre de membres
        inscrits pour un mois donné. Ce rapport est transmis mensuellement à la fédération
        par le président de la collectivité.
      operationId: getCommunityMonthlyReport
      parameters:
        - $ref: '#/components/parameters/communityId'
        - name: year
          in: query
          required: true
          schema:
            type: integer
            example: 2026
        - name: month
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 12
            example: 4
      responses:
        '200':
          description: Rapport mensuel de la collectivité
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunityMonthlyReportResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /communities/{communityId}/statistics/members:
    get:
      tags: [Statistics]
      summary: Statistiques détaillées par membre actif
      description: |
        Retourne pour chaque membre actif (non démissionnaire) sur une période donnée :
        - Taux d'assiduité
        - Montant total des cotisations encaissées
        - Montant potentiellement impayé (cotisations dues non réglées)
      operationId: getCommunityMembersStatistics
      parameters:
        - $ref: '#/components/parameters/communityId'
        - name: startDate
          in: query
          required: true
          schema:
            type: string
            format: date
          description: Début de la période d'analyse
        - name: endDate
          in: query
          required: true
          schema:
            type: string
            format: date
          description: Fin de la période d'analyse
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Statistiques détaillées des membres
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembersStatisticsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /communities/{communityId}/statistics/members/{memberId}:
    get:
      tags: [Statistics]
      summary: Statistiques individuelles d'un membre actif
      operationId: getCommunityMemberStatistics
      parameters:
        - $ref: '#/components/parameters/communityId'
        - $ref: '#/components/parameters/memberId'
        - name: startDate
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Statistiques du membre
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberStatisticsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /federation/statistics/monthly-report:
    get:
      tags: [FederationStatistics]
      summary: Rapport mensuel global de toutes les collectivités
      description: |
        Le secrétaire de la fédération recense mensuellement les données issues de toutes
        les collectivités pour établir un rapport global.

        Pour chaque collectivité, retourne :
        - Le taux d'assiduité global sur la période
        - Le pourcentage de membres à jour dans leurs cotisations
        - Le nombre de nouveaux adhérents sur la période

        Ce rapport est présenté lors des assemblées générales annuelles.
      operationId: getFederationMonthlyReport
      parameters:
        - name: year
          in: query
          required: true
          schema:
            type: integer
            example: 2026
        - name: month
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 12
            example: 4
      responses:
        '200':
          description: Rapport mensuel global
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FederationMonthlyReportResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /federation/statistics/annual-report:
    get:
      tags: [FederationStatistics]
      summary: Rapport annuel global de toutes les collectivités
      description: |
        Agrège les données de toutes les collectivités sur l'ensemble d'une année civile.

        Pour chaque collectivité, retourne :
        - Le taux d'assiduité global annuel
        - Le pourcentage de membres à jour dans leurs cotisations sur l'année
        - Le nombre total de nouveaux adhérents sur l'année

        Utilisé lors des assemblées générales annuelles pour féliciter les collectivités
        les plus méritantes et identifier celles nécessitant un accompagnement.
      operationId: getFederationAnnualReport
      parameters:
        - name: year
          in: query
          required: true
          schema:
            type: integer
            example: 2026
      responses:
        '200':
          description: Rapport annuel global
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FederationAnnualReportResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

components:

  parameters:
    communityId:
      name: communityId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Identifiant unique de la collectivité

    memberId:
      name: memberId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Identifiant unique du membre

    contributionId:
      name: contributionId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Identifiant unique de la cotisation

    accountId:
      name: accountId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Identifiant unique du compte

    activityId:
      name: activityId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Identifiant unique de l'activité

  responses:
    BadRequest:
      description: Requête invalide (données manquantes ou incorrectes)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    NotFound:
      description: Ressource introuvable
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Forbidden:
      description: Action non autorisée pour ce rôle
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    UnprocessableEntity:
      description: Entité non traitable — violation d'une règle métier
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:

    Position:
      type: string
      enum:
        - PRESIDENT
        - VICE_PRESIDENT
        - TREASURER
        - SECRETARY
        - CONFIRMED_MEMBER
        - JUNIOR_MEMBER
      description: Poste d'un membre dans une collectivité

    Gender:
      type: string
      enum:
        - MALE
        - FEMALE

    ContributionType:
      type: string
      enum:
        - MONTHLY
        - ANNUAL
        - PUNCTUAL
      description: |
        Type de cotisation :
        - MONTHLY / ANNUAL : cotisations périodiques, soumises au reversement à la fédération
        - PUNCTUAL : cotisation exceptionnelle, motif obligatoire, non reversée à la fédération

    PaymentMethod:
      type: string
      enum:
        - CASH
        - BANK_TRANSFER
        - MOBILE_MONEY

    AccountType:
      type: string
      enum:
        - CASH
        - BANK
        - MOBILE_MONEY

    BankName:
      type: string
      enum:
        - BRED
        - MCB
        - BMOI
        - BOA
        - BGFI
        - AFG
        - ACCES_BANQUE
        - BAOBAB
        - SIPEM

    MobileMoneyService:
      type: string
      enum:
        - ORANGE_MONEY
        - MVOLA
        - AIRTEL_MONEY

    ActivityType:
      type: string
      enum:
        - GENERAL_ASSEMBLY
        - JUNIOR_TRAINING
        - EXCEPTIONAL

    AttendanceStatus:
      type: string
      enum:
        - PRESENT
        - ABSENT
        - EXCUSED

    CommunityStatus:
      type: string
      enum:
        - PENDING
        - AUTHORIZED
        - REJECTED

    CommunityBase:
      type: object
      properties:
        name:
          type: string
          example: Collectivité Vakinankaratra
        city:
          type: string
          example: Antsirabe
        agriculturalSpecialty:
          type: string
          example: Riziculture
        creationDate:
          type: string
          format: date

    CommunityCreationRequest:
      allOf:
        - $ref: '#/components/schemas/CommunityBase'
        - type: object
          required: [name, city, agriculturalSpecialty, creationDate, initialMembers, initialPositions]
          properties:
            initialMembers:
              type: array
              minItems: 10
              items:
                type: string
                format: uuid
              description: |
                Liste des identifiants des membres fondateurs (minimum 10 membres).
                Parmi ces membres, au moins 5 doivent avoir une ancienneté ≥ 6 mois
                au sein de la fédération.
            initialPositions:
              $ref: '#/components/schemas/MandatePositions'

    CommunityUpdateRequest:
      type: object
      properties:
        name:
          type: string
        city:
          type: string
        agriculturalSpecialty:
          type: string

    CommunityResponse:
      allOf:
        - $ref: '#/components/schemas/CommunityBase'
        - type: object
          properties:
            id:
              type: string
              format: uuid
            number:
              type: string
              description: Numéro unique de la collectivité
            status:
              $ref: '#/components/schemas/CommunityStatus'
            memberCount:
              type: integer
              description: Nombre de membres actifs inscrits
            mandatoryAnnualContribution:
              type: number
              format: double
              description: Montant des cotisations annuelles obligatoires imposées par la collectivité (MGA)

    CommunityListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CommunityResponse'
        pagination:
          $ref: '#/components/schemas/Pagination'

    MemberBase:
      type: object
      properties:
        lastName:
          type: string
        firstName:
          type: string
        birthDate:
          type: string
          format: date
        gender:
          $ref: '#/components/schemas/Gender'
        address:
          type: string
        occupation:
          type: string
        phone:
          type: string
          example: "+261 34 00 000 00"
        email:
          type: string
          format: email

    SponsorEntry:
      type: object
      required: [sponsorId, relationship]
      properties:
        sponsorId:
          type: string
          format: uuid
          description: |
            Identifiant du membre confirmé parrain.
            Le parrain doit avoir une ancienneté > 90 jours dans la fédération.
        relationship:
          type: string
          description: |
            Nature de la relation entre le candidat et ce parrain.
            Exemples : famille, amis, collègues, voisins, etc.
          example: famille

    MemberRegistrationRequest:
      allOf:
        - $ref: '#/components/schemas/MemberBase'
        - type: object
          required:
            - lastName
            - firstName
            - birthDate
            - gender
            - address
            - occupation
            - phone
            - email
            - communityId
            - sponsors
            - payment
          properties:
            communityId:
              type: string
              format: uuid
              description: Identifiant de la collectivité dans laquelle le candidat postule
            sponsors:
              type: array
              minItems: 2
              items:
                $ref: '#/components/schemas/SponsorEntry'
              description: |
                Liste des parrains confirmés (minimum 2 requis).

                Règle de répartition (mise à jour du 21 avril 2026) :
                Le nombre de parrains issus de la collectivité cible doit être supérieur
                ou égal au nombre de parrains issus d'autres collectivités.

                Exemples :
                  ✔ 2 parrains de la collectivité cible → accepté
                  ✔ 1 parrain de la cible + 1 d'une autre → accepté
                  ✔ 3 parrains de la cible + 2 d'autres → accepté
                  ✗ 0 parrain de la cible + 2 d'autres → refusé
            payment:
              $ref: '#/components/schemas/RegistrationPayment'

    RegistrationPayment:
      type: object
      required: [paymentMethod, registrationFee, annualContributionAmount]
      properties:
        registrationFee:
          type: number
          format: double
          default: 50000
          description: Frais d'adhésion fixes en MGA (50 000 MGA)
        annualContributionAmount:
          type: number
          format: double
          description: |
            Montant des cotisations annuelles obligatoires de la collectivité cible, en MGA.
            Ce montant est fixé par la collectivité et doit être réglé intégralement
            lors de l'adhésion (en plus des 50 000 MGA de frais d'adhésion).
        paymentMethod:
          type: string
          enum:
            - MOBILE_MONEY
            - BANK_TRANSFER
          description: Mode de paiement (espèce non acceptée pour l'adhésion)

    MemberUpdateRequest:
      allOf:
        - $ref: '#/components/schemas/MemberBase'

    MemberResponse:
      allOf:
        - $ref: '#/components/schemas/MemberBase'
        - type: object
          properties:
            id:
              type: string
              format: uuid
            membershipDate:
              type: string
              format: date
            communityId:
              type: string
              format: uuid
            position:
              $ref: '#/components/schemas/Position'
            active:
              type: boolean
              description: false si le membre a démissionné
            resignationDate:
              type: string
              format: date
              nullable: true

    MemberListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/MemberResponse'
        pagination:
          $ref: '#/components/schemas/Pagination'

    MandatePositions:
      type: object
      required: [presidentId, vicePresidentId, treasurerId, secretaryId]
      properties:
        presidentId:
          type: string
          format: uuid
        vicePresidentId:
          type: string
          format: uuid
        treasurerId:
          type: string
          format: uuid
        secretaryId:
          type: string
          format: uuid

    MandateCreationRequest:
      type: object
      required: [year, positions]
      properties:
        year:
          type: integer
          description: Année civile du mandat
          example: 2026
        positions:
          $ref: '#/components/schemas/MandatePositions'

    MandateResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        communityId:
          type: string
          format: uuid
        year:
          type: integer
        positions:
          $ref: '#/components/schemas/MandatePositions'
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date

    MandateListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/MandateResponse'
        pagination:
          $ref: '#/components/schemas/Pagination'

    ContributionCreationRequest:
      type: object
      required: [memberId, type, amount, collectionDate, paymentMethod]
      properties:
        memberId:
          type: string
          format: uuid
        type:
          $ref: '#/components/schemas/ContributionType'
        amount:
          type: number
          format: double
          description: Montant en MGA
        collectionDate:
          type: string
          format: date
        paymentMethod:
          $ref: '#/components/schemas/PaymentMethod'
        reason:
          type: string
          description: Motif obligatoire si type = PUNCTUAL

    ContributionResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        memberId:
          type: string
          format: uuid
        communityId:
          type: string
          format: uuid
        type:
          $ref: '#/components/schemas/ContributionType'
        amount:
          type: number
          format: double
        collectionDate:
          type: string
          format: date
        paymentMethod:
          $ref: '#/components/schemas/PaymentMethod'
        federationShareAmount:
          type: number
          format: double
          nullable: true
          description: |
            Montant reversé à la fédération selon le taux en vigueur.
            Applicable uniquement pour les cotisations périodiques (MONTHLY, ANNUAL).
            Null pour les cotisations ponctuelles.
        reason:
          type: string
          nullable: true

    ContributionListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ContributionResponse'
        totalAmount:
          type: number
          format: double
          description: Total des montants encaissés sur la période
        pagination:
          $ref: '#/components/schemas/Pagination'

    AccountCreationRequest:
      type: object
      required: [type]
      properties:
        type:
          $ref: '#/components/schemas/AccountType'
        initialBalance:
          type: number
          format: double
          default: 0
          description: Solde initial en MGA
        openingDate:
          type: string
          format: date
        holderName:
          type: string
          description: Nom du titulaire du compte (bancaire ou mobile money)
        bankName:
          $ref: '#/components/schemas/BankName'
        bankAccountNumber:
          type: string
          pattern: '^\d{23}$'
          description: |
            Numéro de compte bancaire RIB à 23 chiffres.
            Format : BBBBBGGGGGCCCCCCCCCCCKKK
            - BBBBB : Code banque (5 chiffres)
            - GGGGG : Code guichet (5 chiffres)
            - CCCCCCCCCCC : Numéro de compte (11 chiffres)
            - KK : Clé RIB (2 chiffres)
        mobileMoneyService:
          $ref: '#/components/schemas/MobileMoneyService'
        phoneNumber:
          type: string
          description: Numéro de téléphone unique associé au compte mobile money

    AccountResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          $ref: '#/components/schemas/AccountType'
        balance:
          type: number
          format: double
          description: Solde actuel en MGA
        statementDate:
          type: string
          format: date
          description: Date du dernier relevé de solde
        holderName:
          type: string
          nullable: true
        bankName:
          allOf:
            - $ref: '#/components/schemas/BankName'
          nullable: true
        bankAccountNumber:
          type: string
          nullable: true
        mobileMoneyService:
          allOf:
            - $ref: '#/components/schemas/MobileMoneyService'
          nullable: true
        phoneNumber:
          type: string
          nullable: true

    AccountListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AccountResponse'
        totalBalance:
          type: number
          format: double
          description: Solde total de tous les comptes en MGA

    ActivityBase:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        type:
          $ref: '#/components/schemas/ActivityType'
        activityDate:
          type: string
          format: date-time
        mandatory:
          type: boolean
          default: false
          description: |
            Indique si la présence est obligatoire.
            - GENERAL_ASSEMBLY : toujours true (tous membres)
            - JUNIOR_TRAINING : toujours true (membres juniors uniquement)
            - EXCEPTIONAL : défini par la collectivité

    ActivityCreationRequest:
      allOf:
        - $ref: '#/components/schemas/ActivityBase'
        - type: object
          required: [title, type, activityDate]
          properties:
            mandatoryMembers:
              type: array
              items:
                type: string
                format: uuid
              description: |
                Identifiants des membres pour lesquels la présence est obligatoire.
                - Si vide et type = GENERAL_ASSEMBLY : concerne tous les membres.
                - Si vide et type = JUNIOR_TRAINING : concerne tous les membres juniors.
                - Pour les activités EXCEPTIONAL : liste explicite des membres concernés.
                  Si vide et mandatory = true : concerne tous les membres.

    FederationActivityCreationRequest:
      allOf:
        - $ref: '#/components/schemas/ActivityBase'
        - type: object
          required: [title, type, activityDate]
          properties:
            invitedCommunities:
              type: array
              items:
                type: string
                format: uuid
              description: |
                Identifiants des collectivités invitées à l'activité.
                Si vide, toutes les collectivités sont invitées.

    ActivityUpdateRequest:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        activityDate:
          type: string
          format: date-time
        mandatory:
          type: boolean
        mandatoryMembers:
          type: array
          items:
            type: string
            format: uuid

    ActivityResponse:
      allOf:
        - $ref: '#/components/schemas/ActivityBase'
        - type: object
          properties:
            id:
              type: string
              format: uuid
            communityId:
              type: string
              format: uuid
              nullable: true
              description: Null si l'activité est organisée par la fédération
            organizedBy:
              type: string
              enum: [COMMUNITY, FEDERATION]
            mandatoryMembers:
              type: array
              items:
                type: string
                format: uuid

    ActivityListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ActivityResponse'
        pagination:
          $ref: '#/components/schemas/Pagination'

    AttendanceCreationRequest:
      type: object
      required: [memberId, status]
      properties:
        memberId:
          type: string
          format: uuid
        status:
          $ref: '#/components/schemas/AttendanceStatus'
        absenceReason:
          type: string
          description: Obligatoire si status = EXCUSED

    AttendanceUpdateRequest:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/AttendanceStatus'
        absenceReason:
          type: string
          description: Obligatoire si status = EXCUSED

    AttendanceResponse:
      type: object
      properties:
        memberId:
          type: string
          format: uuid
        activityId:
          type: string
          format: uuid
        status:
          $ref: '#/components/schemas/AttendanceStatus'
        absenceReason:
          type: string
          nullable: true
        isExternalMember:
          type: boolean
          description: |
            true si le membre appartient à une autre collectivité.
            Sa présence ne compte pas dans son taux d'assiduité annuel.

    AttendanceListResponse:
      type: object
      properties:
        activityId:
          type: string
          format: uuid
        attendances:
          type: array
          items:
            $ref: '#/components/schemas/AttendanceResponse'
        totalPresent:
          type: integer
        totalAbsent:
          type: integer
        totalExcused:
          type: integer

    CommunityMonthlyReportResponse:
      type: object
      properties:
        communityId:
          type: string
          format: uuid
        communityName:
          type: string
        year:
          type: integer
        month:
          type: integer
        attendanceRate:
          type: number
          format: float
          description: Taux d'assiduité global de la collectivité sur le mois (%)
          example: 85.5
        registeredMemberCount:
          type: integer
          description: Nombre total de membres actifs inscrits dans la collectivité

    MemberStatisticsResponse:
      type: object
      properties:
        memberId:
          type: string
          format: uuid
        lastName:
          type: string
        firstName:
          type: string
        position:
          $ref: '#/components/schemas/Position'
        attendanceRate:
          type: number
          format: float
          description: Taux d'assiduité du membre sur la période (%)
        totalPaidAmount:
          type: number
          format: double
          description: Total des cotisations payées par le membre sur la période (MGA)
        totalUnpaidAmount:
          type: number
          format: double
          description: Montant potentiellement impayé par le membre sur la période (MGA)

    MembersStatisticsResponse:
      type: object
      properties:
        communityId:
          type: string
          format: uuid
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        members:
          type: array
          items:
            $ref: '#/components/schemas/MemberStatisticsResponse'
        pagination:
          $ref: '#/components/schemas/Pagination'

    CommunityReportItem:
      type: object
      description: Données statistiques d'une collectivité pour un rapport fédération
      properties:
        communityId:
          type: string
          format: uuid
        communityName:
          type: string
        attendanceRate:
          type: number
          format: float
          description: Taux d'assiduité global de la collectivité sur la période (%)
          example: 85.5
        upToDateContributionRate:
          type: number
          format: float
          description: |
            Pourcentage de membres actifs à jour dans leurs cotisations sur la période (%).
            Un membre est considéré à jour s'il n'a aucun montant impayé sur la période.
          example: 78.0
        newMemberCount:
          type: integer
          description: Nombre de nouveaux membres admis dans la collectivité sur la période

    FederationMonthlyReportResponse:
      type: object
      properties:
        year:
          type: integer
          example: 2026
        month:
          type: integer
          example: 4
        communities:
          type: array
          items:
            $ref: '#/components/schemas/CommunityReportItem'

    FederationAnnualReportResponse:
      type: object
      properties:
        year:
          type: integer
          example: 2026
        communities:
          type: array
          items:
            $ref: '#/components/schemas/CommunityReportItem'
          description: |
            Données agrégées sur l'ensemble de l'année civile pour chaque collectivité.
            Présentées lors de l'assemblée générale annuelle pour identifier les collectivités
            méritantes et celles nécessitant un accompagnement.

    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer

    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          example: RESOURCE_NOT_FOUND
        message:
          type: string
          example: La collectivité demandée n'existe pas.
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              error:
                type: string
